.container {
    display: flex;
    justify-content: space-between; /* Adjust spacing between the columns */
    align-items: center; /* Align items vertically */
}

.column {
    flex: 1; /* Makes both columns take up equal space */
    padding: 2px; /* Optional: Add padding for better spacing */
    text-align: left; /* Align text to center within the column */
}
.cell-container {
    position: relative;
    height: 100%;
}

.checkbox-container {
    position: absolute;
    top: 4px;
    right: -20px;
    z-index: 1;
    padding: 2px;
    border: 2px;
}
